# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
bower.json
config.xml
ionic.project
.idea
.bowerrc
.editorconfig
plugins
hooks
.io-config.json
