<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ui-sref="/splash">Go back</button>
  </div>
</ion-header-bar>

<div id="login-fields">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>

  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>

<label class="item item-input">
  <span class="input-label">Confirm password</span>
  <input type="password">
</label>
</div>

<button class="button button-block button-positive">
  Sign in
</button>
